<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo3</title>
<script src="angular.min.js"></script>
<script src="script.js"></script>
</head>
<body>

<div ng-app="app" >
    <div ng-controller="appCtrl">               <!--calls controller from js file-->
        <p>Name: <input type="text" ng-model="name"><p>
       <p>Hello {{name}}</p>
        <label> Password:</label>
        </div>

<div ng-controller="appCtrl">
    <label>Product list:</label>
    <input type="text" ng-model="product.pname">
    {{pname}}
    <input type="number" ng-model="product.price">
    {{price}}
    <ul>
        <li ng-repeat="item in fruits">{{item}}</li>    <!--syntax: variablename in arrayname-->
    </ul>
    <p ng-repeat="list in products">{{list}}</p>
    <a href="" ng-repeat="list in products">{{list}}</a>
    <button ng-repeat="item in fruits">{{item}}</button>
    <cite ng-repeat="item in fruits">{{item}}</cite>
</div>
</div>

</body>
</html>