<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js">

    </script>
</head>
<body>
<div ng-app="" ng-init="unitprice='Rs.0'">
<p>UnitPrice:<input type="number" ng-model="unitprice"><p>
    <p>No of Items<input type="number" ng-model="items"></p>
    <p>Totalcost: {{unitprice*items}}</p></div>

</body>
</html>