<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js">

    </script>
</head>
<body>
<div ng-app="" ng-init="name='abc'">
    <p>Name : <input type="text" ng-model="name" ></p>
    <h1>Hello {{name}}</h1>
    <p>Password: <input type="password" ng-model="password"></p>
    <p>{{password}}</p>
    <p>this shows the sum directly{{3+4}}</p>
</div>
</body>
</html>