<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script src="script.js"></script>
    <style>
        .container
        {
            width:300px;
            height:400px;
            align-items: center;
            border: dashed;
            padding: 20px;
            margin:20px;
        }
        .forms
        {
            width:300px;
            height:200px;
        }

    </style>

</head>
<body>
<div ng-app="app">
    <div ng-controller="shopCtrl" >
        <div class="forms">
            <fieldset>
                <form>
                    <h3>Add new product</h3>
                    <p>Type<input type="text" ng-model="new.bagtype">
                    </p>
                    <br><input type="button" type="text" value="Add Product" ng-click="addproduct()">
                </form>
            </fieldset>
        </div>
        <h1>Products</h1>
        <div ng-repeat="items in bags" class="container">
            <img src="{{items.imagepath}}">
            <p>Material: {{items.bagtype}}</p><p>Color: {{items.color}}</p><p> Size: {{items.size}}</p>
            <p><button >Add to cart</button></p>


        </div>


    </div>
</div>




</body>
</html>